# The domain you want to use for Keycast
# Remember to set your DNS records!
DOMAIN=your-domain.com

# List of pubkeys that are allowed to sign in to the app
ALLOWED_PUBKEYS=hexpubkey1,hexpubkey2

# Runtime uid/gid used by the non-root Docker containers
KEYCAST_UID=10001
KEYCAST_GID=10001

# Image settings used by docker-compose.prod.yml
KEYCAST_IMAGE=ghcr.io/erskingardner/keycast
KEYCAST_IMAGE_TAG=master
